@import "../../variables";

.button, .button-medium, .button-basic {
  font-size: 1rem;
  background-color: $color-default;
  color: black;
  text-decoration: underline;
  border: 6px ridge #bbb;
  padding: 6px 12px;
  font-family: $font-comic-sans;

  &.button-small {
    font-size: 0.6rem;
  }

  &.button-large {
    font-size: 1.4rem;
  }

  &.button-primary {
    background-color: $color-primary;
    color: white;
  }

  &.button-success {
    background-color: $color-success;
    color: black;
  }

  &.button-danger {
    background-color: $color-danger;
    color: white;
  }
}