/*
Fonts
 */
$font-comic-sans: "Comic Sans MS", cursive, sans-serif;
$font-courier-new: "Courier New", Courier, monospace;
$font-times-new-roman: "Times New Roman", Times, serif;

/*
Backgrounds
 */
$bg-brick: url("_assets/images/brick.gif");
$bg-maze: url("_assets/images/maze.gif");
$bg-space: url("_assets/images/space.jpg");