/*
Fonts
 */
$font-comic-sans: "Comic Sans MS", cursive, sans-serif;
$font-courier-new: "Courier New", Courier, monospace;
$font-times-new-roman: "Times New Roman", Times, serif;

/*
Colors
 */
$color-default: #c3c3c3;
$color-primary: #1c00ff;
$color-success: #0f0;
$color-danger: #f00;

/*
Backgrounds
 */
$bg-brick: url("../assets/images/brick.gif");
$bg-maze: url("../assets/images/maze.gif");
$bg-space: url("../assets/images/space.jpg");